body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div div div {
    border: 1px solid black;
}

#main-container{
    display: grid;
    grid-template-rows: 5;

}

#first-block {
    background-color: red;
    grid-row: 1/2;
    height: 10vh;
   
}
.tresjuntinhos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    
}
.doisjuntinhos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
}
.blue-block {
    background-color: blue;
    margin: 2vh;
    height: 20vh;
 
}

.yellow-block {
    background-color: yellow;
    margin: 2vh;
    height: 20vh;
    align-self: stretch;
}

.green-block {
    background-color: green;
    margin: 2vh;
    height: 20vh;
    align-self: stretch;
}

.green-block1 {
    background-color: green;
    margin: 2vh;
    height: 20vh;
    align-self: stretch;
}
.black-block {
    background-color: black;
    color: white;
    margin: 2vh;
    height: 40vh;
 
}

.white-block {
    background-color: white;
    margin: 2vh;
    height: 20vh;
  
}
.white-block1 {
    background-color: white;
    margin: 2vh;
    height: 20vh;

}

@media screen and (min-device-width:20px) and (max-width:420px){

    #main-container{
        grid-template-rows: 12;
        
    }
    .tresjuntinhos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr)
      
      
    }
    .doisjuntinhos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr)
     
    }
    
}
@media screen and (min-device-width:420px) and (max-width:800px){
    #main-container{
        grid-template-rows: 8;
        
    }
    .tresjuntinhos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
      
    }
    .doisjuntinhos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     
    }
    .green-block1 {
        display: grid;
        grid-column: 1/span1;
    }
    .white-block1 {
        grid-column: 1/span;
    }
}