*{ 
  box-sizing: border-box;
  align-self: center;
}
 
  html{
    background-color: #6b73a7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  
  }