*{
  align-items: center;
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.listinha{
  display:flex;
  flex-direction: column;
  height: 40px;
}

.ordemMusica{
  width: 450px;
  height: 150px;
  background-color: darkseagreen;
  margin: 20px;
  border-radius: 20px;
  border:1px solid darkslateblue;
  padding-right: 30px
  
}
.bloco{
  
  width: 200px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.adicionaMusica{
  border:1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
